In [ ]:
#2nd Jan'24

In [1]:
#1Write a Python program to check if a number is positive, negative, or zero.
def num_check(num):
  if num ==0:
    print("The number is zero")
  elif num>0:
    print("The number is positive")
  else:
    print("The number is negative")


num_check(-99999)

The number is negative

In [3]:
#2Write a Python program to find the largest of three numbers.

def largest(a,b,c):
  if a>=b and a>=c:
    print(f"{a} is the largest number.")
  elif b>=c and b>=a:
    print(f"{b} is the largest number.")
  else:
    print(f"{c} is the largest number.")

largest(1,2,3)

3 is the largest number

In [4]:
#3Factorial of a number
def factorial(n):
  if n==0:
    return 1
  else:
    return n*factorial(n-1)

factorial(5)

120

In [6]:
#4Write a Python program to convert Celsius to Fahrenheit.

def temp(n):
  return (n)*(9/5) +32

temp(30)

86.0

In [9]:
#5Write a Python program to find the sum of the first n natural numbers.

def sum_n(n):
  a=1
  d=1
  return (n/2)*(2*a + (n-1)*d)

sum_n(5)

15.0

In [11]:
#6Leap year

def leap(n):
  if (n%4==0 and n%100!=0) or (n%400==0):
    print('Leap Year')
  else:
    print('Not a Leap Year')

leap(2024)

Leap Year

In [16]:
#7Reversing a string

def rev(n):
  return n[::-1]

rev('abc')

'cba'

In [21]:
#8Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.
x=list(range(1,11))
[i**2 for i in x]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [22]:
#9Filtering even numbers from the list
x=list(range(1,11))
[i for i in x if i%2==0]

[2, 4, 6, 8, 10]

In [28]:
#10Sort the below mentioned based on the score.
students = [
    {'name': 'Alice', 'score': 88},
    {'name': 'Bob', 'score': 72},
    {'name': 'Charlie', 'score': 95},
    {'name': 'David', 'score': 65},
    {'name': 'Eve', 'score': 78}
]

sorted_students = sorted(students, key=lambda x: x['score'], reverse=True)
for i in sorted_students:
  print(i)

{'name': 'Charlie', 'score': 95}
{'name': 'Alice', 'score': 88}
{'name': 'Eve', 'score': 78}
{'name': 'Bob', 'score': 72}
{'name': 'David', 'score': 65}

In [38]:
#11Matrix Transpose
matrix = [
    [1, 2, 3,4],
    [4, 5, 6,7],
    [7, 8, 9,10]
]

transpose = [[matrix[i][j] for i in range(len(matrix))] for j in range(len(matrix[0]))]
print(transpose)

[[1, 4, 7], [2, 5, 8], [3, 6, 9], [4, 7, 10]]

In [48]:
#12Flattend List
nested_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# x=[]
# for i in range(len(nested_list)):
#    for j in range(len(nested_list[i])):
#     x.append(nested_list[i][j])

flattened_list = [item for sublist in nested_list for item in sublist]
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
flattened_list = [item for sublist in nested_list for item in sublist]
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
#11Matrix Multiplication
a = [
    [1, 2],
    [4, 5],
    [7, 8]
]

b = [
    [1,2,3],
    [4,5,6],
]

result = [[0 for i in range(len(a))] for i in range(len(b[0]))]
print(result)

for i in range(len(a)):
  for j in range(len(b[0])):
    for k in range(len(b)):
      result[i][j] += a[i][k] * b[k][j]

print(result)

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[9, 12, 15], [24, 33, 42], [39, 54, 69]]